.button {
    height: 30px;
    width: 65px;
    font-size: 14px;
    background-color: rgb(43, 36, 36);
    color: white;
    border-radius: 5px;
    border: 1px solid rgb(43, 36, 36);
    cursor: pointer;
    transition-property: color background-color;
    transition-duration: 300ms;
}

.button:hover {
    background-color: white;
    color: black;
}

.button:active {
    background-color: rgb(163, 163, 163);
}