.container {
    height: 100%;
    width: 100%;
}

.wrapper {
    max-width: 1170px;
    margin: 0 auto;
    width: 90%;
    height: 100%;
}

.header {
    width: 100%;
    background-color: rgb(203, 199, 199);
    height: 50px;
}

.header__items {
    height: 100%;
    display: flex;
}